<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}spendsperday{% endblock %}</title>
    <!-- Adicione seus links de CSS aqui -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Spends per Day</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Calculator</a></li>
                <!-- Adicione mais itens de menu conforme necessário -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- O conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>

    <!-- Adicione seus scripts JavaScript aqui -->
</body>
</html>